body {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #23b1dc;
    text-decoration: underline;
}

.text-center {
  text-align: center;
}

#logo-wrapper {
  width: 50px;
  margin: 0 auto;
}

#logo-wrapper img {
  width: 50px;
}

.main-box {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 21px;
    border: #D0D0D0 1px solid;
    background-color: #FAFAFA;
}

.main-box h1 {
    text-align: center;
}

.main-box h2 {
    color: #3467B0;
    font-size: 1rem;
    line-height: 21px;
    margin-top: 21px;
}
